@using Newtonsoft.Json
@using System.Text
@inject Maroik.Common.DataAccess.Contracts.IAssetRepository assetRepository

@{
    string currentCulture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.Culture.Name;
    Context.Session.TryGetValue(Maroik.Common.Miscellaneous.Extensions.EnumHelper.GetDescription(Maroik.Common.Miscellaneous.Utilities.Session.Account), out byte[] resultByte);

    List<Asset> assets = (await assetRepository.GetAssetsAsync(JsonConvert.DeserializeObject<Account>(Encoding.Default.GetString(resultByte ?? [])).Email)).Where(x => !x.Deleted).OrderBy(x => x.ProductName).ToList();
}

@Html.Hidden("localizerPrevText", localizer["PrevText"].Value)
@Html.Hidden("localizerNextText", localizer["NextText"].Value)
@Html.Hidden("localizerJanuary", localizer["January"].Value)
@Html.Hidden("localizerFebruary", localizer["February"].Value)
@Html.Hidden("localizerMarch", localizer["March"].Value)
@Html.Hidden("localizerApril", localizer["April"].Value)
@Html.Hidden("localizerMay", localizer["May"].Value)
@Html.Hidden("localizerJune", localizer["June"].Value)
@Html.Hidden("localizerJuly", localizer["July"].Value)
@Html.Hidden("localizerAugust", localizer["August"].Value)
@Html.Hidden("localizerSeptember", localizer["September"].Value)
@Html.Hidden("localizerOctober", localizer["October"].Value)
@Html.Hidden("localizerNovember", localizer["November"].Value)
@Html.Hidden("localizerDecember", localizer["December"].Value)
@Html.Hidden("localizerJan", localizer["Jan"].Value)
@Html.Hidden("localizerFeb", localizer["Feb"].Value)
@Html.Hidden("localizerMar", localizer["Mar"].Value)
@Html.Hidden("localizerApr", localizer["Apr"].Value)
@Html.Hidden("localizerJun", localizer["Jun"].Value)
@Html.Hidden("localizerJul", localizer["Jul"].Value)
@Html.Hidden("localizerAug", localizer["Aug"].Value)
@Html.Hidden("localizerSep", localizer["Sep"].Value)
@Html.Hidden("localizerOct", localizer["Oct"].Value)
@Html.Hidden("localizerNov", localizer["Nov"].Value)
@Html.Hidden("localizerDec", localizer["Dec"].Value)
@Html.Hidden("localizerSunday", localizer["Sunday"].Value)
@Html.Hidden("localizerMonday", localizer["Monday"].Value)
@Html.Hidden("localizerTuesday", localizer["Tuesday"].Value)
@Html.Hidden("localizerWednesday", localizer["Wednesday"].Value)
@Html.Hidden("localizerThursday", localizer["Thursday"].Value)
@Html.Hidden("localizerFriday", localizer["Friday"].Value)
@Html.Hidden("localizerSaturday", localizer["Saturday"].Value)
@Html.Hidden("localizerSun", localizer["Sun"].Value)
@Html.Hidden("localizerMon", localizer["Mon"].Value)
@Html.Hidden("localizerTue", localizer["Tue"].Value)
@Html.Hidden("localizerWed", localizer["Wed"].Value)
@Html.Hidden("localizerThu", localizer["Thu"].Value)
@Html.Hidden("localizerFri", localizer["Fri"].Value)
@Html.Hidden("localizerSat", localizer["Sat"].Value)
@Html.Hidden("localizerSu", localizer["Su"].Value)
@Html.Hidden("localizerMo", localizer["Mo"].Value)
@Html.Hidden("localizerTu", localizer["Tu"].Value)
@Html.Hidden("localizerWe", localizer["We"].Value)
@Html.Hidden("localizerTh", localizer["Th"].Value)
@Html.Hidden("localizerFr", localizer["Fr"].Value)
@Html.Hidden("localizerSa", localizer["Sa"].Value)
@Html.Hidden("localizerYearSuffix", localizer["YearSuffix"]?.Value ?? "")
@Html.Hidden("localizerNoMaturityDate", localizer["No MaturityDate"].Value)
@Html.Hidden("localizerToday", localizer["Today"].Value)
@Html.Hidden("localizerMaturityDateError", localizer["The maturity date cannot be earlier than the current date."].Value)

<section class="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">@localizer["Notice FixedIncome"].Value</h3>
            <br/>
            <h3 class="card-title"><span class="text-danger">@localizer["Red Row"].Value</span><b>: @localizer["Maturity date has been passed."]</b></h3>
            <br/>
            <h3 class="card-title"><span class="text-info">@localizer["LightBlue Row"].Value</span><b>: @localizer["Deposit date is near."].Value</b></h3>
        </div>

        <div class="card-body">
            <nav class="navbar-expand navbar-dark" style="position: relative; display: block !important; overflow-x: auto; overflow-y:hidden; align-items: center ">
                <ul class="navbar-nav">
                    <li class="nav-item" style="padding-bottom: 10px; padding-right: 7px;">
                        <button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#createFixedIncomeDialogModal" data-backdrop="static" data-keyboard="false" style="width: 100px !important;"><i class="fa fa-plus" style="padding-right:3px;"></i> @localizer["CREATE"].Value</button>
                    </li>
                    <li class="nav-item" style="padding-bottom: 10px; padding-right: 7px;">
                        <button id="btnEditFixedIncomeGridRow" type="button" class="btn btn-success btn-block btn-sm" data-errorMessageSelectGridRow="@localizer["Please select grid row"].Value" style="width: 100px !important;"><i class="fas fa-edit" style="padding-right:3px;"></i> @localizer["EDIT"].Value</button>
                    </li>
                    <li class="nav-item" style="padding-bottom: 10px; padding-right: 7px;">
                        <button id="btnConfirmDeleteFixedIncome" type="button" class="btn btn-danger btn-block btn-sm" data-errorMessageSelectGridRow="@localizer["Please select grid row"].Value" style="width: 100px !important;"><i class="fa fa-trash" style="padding-right:3px;"></i> @localizer["DELETE"].Value</button>
                    </li>
                    <li class="nav-item" style="padding-bottom: 10px; padding-right: 7px;">
                        <button id="btnExportExcelFixedIncome" type="button" class="btn btn-secondary btn-block btn-sm" style="width: 100px !important;"><i class="fas fa-file-excel" style="padding-right:3px;"></i> @localizer["EXCEL"].Value</button>
                    </li>
                    <li class="nav-item ml-auto">
                        <input type="text" id="gridSearch" placeholder="@localizer["Search..."].Value" style="margin-bottom: 7px; text-align: center; font-size: .7em; padding: 5px 0; color: #000; border: none; " />
                    </li>
                </ul>
            </nav>
            @Html.AjaxGrid(Url.Action("FixedIncome", "Notice"))
        </div>
    </div>
</section>

@*<!--createFixedIncomeDialogModal-->*@
<div class="modal fade" tabindex="-1" role="dialog" id="createFixedIncomeDialogModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="createFixedIncomeTabs">
                @*<!--Tab Menu-->*@
                <ul>
                    <li><a href="#createFixedIncomeTabs-1">@localizer["Add FixedIncome"].Value</a></li>
                </ul>
                @*Tabs-1: Create FixedIncome Modal*@
                <div id="createFixedIncomeTabs-1">
                    <form id="formCreateFixedIncome">
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="createFixedIncomeMainClass">@localizer["MainClass"].Value</label>
                                <br />
                                <select id="createFixedIncomeMainClass" name="createFixedIncomeMainClass" class="form-control form-control-sm" style="max-width:100%;text-overflow:ellipsis;">
                                    <option value="RegularIncome" selected="selected">@localizer["정기수입"].Value</option>
                                    <option value="IrregularIncome">@localizer["비정기수입"].Value</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="createFixedIncomeSubClass">@localizer["SubClass"].Value</label>
                                <br />
                                <select id="createFixedIncomeSubClass" name="createFixedIncomeSubClass" class="form-control form-control-sm" style="max-width:100%;text-overflow:ellipsis;">
                                    <option value="LaborIncome" selected="selected">@localizer["근로수입"].Value</option>
                                    <option value="BusinessIncome">@localizer["사업수입"].Value</option>
                                    <option value="PensionIncome">@localizer["연금수입"].Value</option>
                                    <option value="FinancialIncome">@localizer["금융소득"].Value</option>
                                    <option value="RentalIncome">@localizer["임대수입"].Value</option>
                                    <option value="OtherIncome">@localizer["기타수입"].Value</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="createFixedIncomeContent">@localizer["Content"].Value</label>
                                <input class="form-control form-control-sm" type="text" data-val="true" data-val-required="@localizer["Please enter Content"].Value" id="createFixedIncomeContent" name="createFixedIncomeContent" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="createFixedIncomeContent" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label id="labelCreateFixedIncomeAmount" for="createFixedIncomeAmount">@localizer["Amount"].Value</label>
                                <input class="form-control form-control-sm" min="0" type="number" id="createFixedIncomeAmount" name="createFixedIncomeAmount" value="0">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="createFixedIncomeDepositMonth">@localizer["DepositMonth"].Value</label>
                                <br />
                                <select id="createFixedIncomeDepositMonth" name="createFixedIncomeDepositMonth" class="form-control form-control-sm" style="max-width:100%;text-overflow:ellipsis;">
                                    <option value="1" selected="selected">1</option>
                                    @for (int i = 2; i <= 12; i++)
                                    {

                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="createFixedIncomeDepositDay">@localizer["DepositDay"].Value</label>
                                <br />
                                <select id="createFixedIncomeDepositDay" name="createFixedIncomeDepositDay" class="form-control form-control-sm" style="max-width:100%;text-overflow:ellipsis;">
                                    <option value="1" selected="selected">1</option>
                                    @for (int i = 2; i <= 31; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="createFixedIncomeMaturityDate">@localizer["MaturityDate"].Value</label>
                                <input class="form-control form-control-sm" type="text" data-val="true" data-val-required="@localizer["Please enter MaturityDate"].Value" id="createFixedIncomeMaturityDate" name="createFixedIncomeMaturityDate" value="" readonly>
                                <span class="field-validation-valid text-danger" data-valmsg-for="createFixedIncomeMaturityDate" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="createFixedIncomeNote">@localizer["Note"].Value</label>
                                <input class="form-control form-control-sm" type="text" data-val="false" id="createFixedIncomeNote" name="createFixedIncomeNote" value="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="createFixedIncomeDepositMyAssetProductName">@localizer["DepositMyAssetProductName"].Value</label>
                                <br />
                                <select id="createFixedIncomeDepositMyAssetProductName" name="createFixedIncomeDepositMyAssetProductName" class="form-control form-control-sm" style="max-width:100%;text-overflow:ellipsis;">
                                    @foreach (var item in assets)
                                    {
                                        if (assets.First() == item)
                                        {
                                            <option value="@item.ProductName" selected="selected">@item.ProductName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ProductName">@item.ProductName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Close"].Value</button>
                            <input type="submit" class="btn btn-primary" value="@localizer["Save"].Value" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<!--EditFixedIncomeDialogModal-->*@
<div class="modal fade" tabindex="-1" role="dialog" id="editFixedIncomeDialogModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="editFixedIncomeTabs">
                @*<!--Tab Menu-->*@
                <ul>
                    <li><a href="#editFixedIncomeTabs-1">@localizer["Edit FixedIncome"].Value</a></li>
                </ul>
                @*Tabs-1: Edit FixedIncome Modal*@
                <div id="editFixedIncomeTabs-1">
                    <form id="formEditFixedIncome">
                        <input type="hidden" id="editFixedIncomeId" />
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="editFixedIncomeMainClass">@localizer["MainClass"].Value</label>
                                <br />
                                <select id="editFixedIncomeMainClass" name="editFixedIncomeMainClass" class="form-control form-control-sm" style="max-width:100%;text-overflow:ellipsis;">
                                    <option value="RegularIncome">@localizer["정기수입"].Value</option>
                                    <option value="IrregularIncome">@localizer["비정기수입"].Value</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="editFixedIncomeSubClass">@localizer["SubClass"].Value</label>
                                <br />
                                <select id="editFixedIncomeSubClass" name="editFixedIncomeSubClass" class="form-control form-control-sm" style="max-width:100%;text-overflow:ellipsis;">
                                    <option value="LaborIncome">@localizer["근로수입"].Value</option>
                                    <option value="BusinessIncome">@localizer["사업수입"].Value</option>
                                    <option value="PensionIncome">@localizer["연금수입"].Value</option>
                                    <option value="FinancialIncome">@localizer["금융소득"].Value</option>
                                    <option value="RentalIncome">@localizer["임대수입"].Value</option>
                                    <option value="OtherIncome">@localizer["기타수입"].Value</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="editFixedIncomeContent">@localizer["Content"].Value</label>
                                <input class="form-control form-control-sm" type="text" data-val="true" data-val-required="@localizer["Please enter Content"].Value" id="editFixedIncomeContent" name="editFixedIncomeContent" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="editFixedIncomeContent" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label id="labelEditFixedIncomeAmount" for="editFixedIncomeAmount">@localizer["Amount"].Value</label>
                                <input class="form-control form-control-sm" min="0" type="number" id="editFixedIncomeAmount" name="editFixedIncomeAmount" value="0">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="editFixedIncomeDepositMonth">@localizer["DepositMonth"].Value</label>
                                <br />
                                <select id="editFixedIncomeDepositMonth" name="editFixedIncomeDepositMonth" class="form-control form-control-sm" style="max-width:100%;text-overflow:ellipsis;">
                                    <option value="1" selected="selected">1</option>
                                    @for (int i = 2; i <= 12; i++)
                                    {

                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="editFixedIncomeDepositDay">@localizer["DepositDay"].Value</label>
                                <br />
                                <select id="editFixedIncomeDepositDay" name="editFixedIncomeDepositDay" class="form-control form-control-sm" style="max-width:100%;text-overflow:ellipsis;">
                                    <option value="1" selected="selected">1</option>
                                    @for (int i = 2; i <= 31; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="editFixedIncomeMaturityDate">@localizer["MaturityDate"].Value</label>
                                <input class="form-control form-control-sm" type="text" data-val="true" data-val-required="@localizer["Please enter MaturityDate"].Value" id="editFixedIncomeMaturityDate" name="editFixedIncomeMaturityDate" value="" readonly>
                                <span class="field-validation-valid text-danger" data-valmsg-for="editFixedIncomeMaturityDate" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="editFixedIncomeNote">@localizer["Note"].Value</label>
                                <input class="form-control form-control-sm" type="text" data-val="false" id="editFixedIncomeNote" name="editFixedIncomeNote" value="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="editFixedIncomeDepositMyAssetProductName">@localizer["DepositMyAssetProductName"].Value</label>
                                <br />
                                <select id="editFixedIncomeDepositMyAssetProductName" name="editFixedIncomeDepositMyAssetProductName" class="form-control form-control-sm" style="max-width:100%;text-overflow:ellipsis;">
                                    @foreach (var item in assets)
                                    {
                                        <option value="@item.ProductName">@item.ProductName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="editFixedIncomeUnpunctuality">@localizer["Unpunctuality"].Value</label>
                                <input class="form-control form-control-sm" type="checkbox" id="editFixedIncomeUnpunctuality" name="editFixedIncomeUnpunctuality" />
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Close"].Value</button>
                            <input type="submit" class="btn btn-primary" value="@localizer["Save"].Value" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<!--ConfirmDeleteDialogModal-->*@
<div class="modal" tabindex="-1" role="dialog" id="confirmDeleteFixedIncomeDialogModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @localizer["Are you sure to delete?"].Value
            </div>
            <div class="modal-footer">
                <button id="btnDeleteFixedIncome" type="button" class="btn btn-danger" data-errorMessageSelectGridRow="@localizer["Please select grid row"].Value">@localizer["DELETE"].Value</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Close"].Value</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/user/custom/Notice/FixedIncome/js/site.js" asp-append-version="true"></script>
}