<section class="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">@localizer["Welcome to Maroik!"].Value</h3>
        </div>
        <div class="card-body">
            @localizer["This site is operated by individuals for purely academic purposes and is open to anyone."].Value <br /><br />
            @localizer["Additionally, when you log in, you can manage your personal schedule and create a household account book."].Value <br /> <br />
            @localizer["All posts can be read freely without registering as a separate member. It is disclosed so that there is no hindrance to learning without logging in."].Value <br />
            @localizer["However, for posting, membership registration and login are required due to advertisements or posts that violate social justice."].Value <br />
            @localizer["Regarding the post management policy, we plan to provide guidelines at a common-sense level in the future."].Value <br /> <br />
            @localizer["If you have any good articles to post on this site, please feel free to contact us. welcome."].Value <br /><br />
            @localizer["Contact: admin@maroik.com"].Value <br />
        </div>
    </div>
</section>